* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 4rem;
}

body h1 {
  margin-bottom: 1rem;
}

main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ########## Loader styling ########## */

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 20px;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding: 2rem;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 560px) {
  body {
    padding: 1rem;
  }

  main {
    grid-template-columns: 1fr;
  }
}
